
.blue{border: 1px solid #00f;box-shadow:0 0 30px rgba(0,0,255,0.5)}
.red{border: 1px solid #f00;box-shadow:0 0 30px rgba(255,0,0,0.5)}
.green{border: 1px solid #0f0;box-shadow:0 0 30px rgba(0,255,0,0.5)}